@charset "UTF-8";

/*메인 배너*/
.main_banner {
    width: 100%;
    margin-top: 100px;
}

/*메인*/
main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

main nav {
    width: 80%;
    margin: 0 auto;
}

/*메인 타이틀*/
.main_section {
    width: 100%;
    margin: 30px auto;
}

.main_section_title {
    margin: 15px;
}

/*신간 안내*/
.message_bible ul {
    width: 100%;
    margin-bottom: 5px;
    height: 100%;
}

.message_bible ul li {
    float: left;
    width: 49%;
    font-size: 0.7rem;
}

.message_bible ul img {
    width: 90%;
}

.message_bible ul h4 {
    border-bottom: 3px solid black;
    font-size: 0.8rem;
}

.book_brief_information {
    line-height: 2;
}

.message_bible ul:hover h4 {
    font-size: 0.9rem;
    transition: all 1s;
}

.book_brief_information:hover {
    /*font-size: 0.8rem;*/
    /*transition: all 1s;*/
}

.introduce_book {
    display: none;
}

@media all and (min-width: 768px) {
    .introduce_book {
        margin-top: 15px;
        display: block;
    }

    .message_bible ul li {
        font-size: 0.9rem;
    }

    .message_bible ul h4 {
        font-size: 1rem;
    }

    .message_bible ul:hover h4 {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 1024px) {
    main {
        width: 80%;
    }

    main nav {
        width: 100%;
    }

    .main_banners {
        width: 100%;
    }

    .message_bible ul {
        width: 49.7%;
        display: inline-block;
    }
}