@charset "UTF-8";

/*메인 배너*/
.main_banner {
    width: 100%;
    margin-top: 100px;
}

/*메인*/
main {
    width: 80%;
    margin: 0 auto;
}

/*메인 타이틀*/
.main_section {
    margin: 30px 0;
}

.main_section_title {
    margin: 15px;
}

/*신간 안내*/
.new_books ul {
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
}

.new_books ul li {
    float: left;
    width: 49%;
    font-size: 0.7rem;
}

.new_books ul img {
    width: 90%;
}

.new_books ul h4 {
    border-bottom: 3px solid black;
    font-size: 0.8rem;
}

.book_brief_information {
    line-height: 2;
}

.new_books ul:hover h4 {
    font-size: 0.9rem;
    transition: all 1s;
}

.introduce_book {
    display: none;
}

@media all and (min-width: 768px) {
    .introduce_book {
        margin-top: 15px;
        display: block;
    }

    .new_books ul li {
        font-size: 0.9rem;
    }

    .new_books ul h4 {
        font-size: 1rem;
    }

    .new_books ul:hover h4 {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 1024px) {
    .main_banners {
        width: 80%;
    }

    .new_books ul {
        width: 49.7%;
        display: inline-block;
        min-height: 450px;
    }

    .new_books li {
        width: 100%;
    }

    .new_books a {
        float: left;
    }
}