@charset "UTF-8";

/*메인 배너*/
/*.main_banners {*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*.main_banners ul {*/
/*    width: 300%;*/
/*}*/

/*.main_banners li {*/
/*    float: left;*/
/*    width: 25%;*/
/*}*/

/*.main_banners ul li img {*/
/*    width: 100%;*/
/*}*/

.main_banner {
    width: 100%;
    margin-top: 100px;
}

/*버튼*/
.button_all {
    cursor: pointer;
    font-size: 0.9rem;
    color: gray;
    text-decoration: none;
    float: right;
}

/*메인*/
main {
    width: 80%;
    margin: 0 auto;
}

/*메인 타이틀*/
.main_section {
    margin: 30px 0;
}

.main_section_title {
    margin: 15px;
}

/*신간 안내*/
.card_news ul {
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    font-size: 0.8rem;
}

.card_news ul li {
    float: left;
    width: 49%;

    line-height: 2;
}

.card_news ul img {
    width: 90%;
}

.card_news ul h4 {
    border-bottom: 3px solid black;
    /*font-size: 0.8rem;*/
}

.card_news ul:hover h4 {
    font-size: 0.9rem;
    transition: all 1s;
}

.card_news ul:hover {
    font-size: 0.9rem;
    transition: all 1s;
}

.introduce_book {
    display: none;
}

@media all and (min-width: 768px) {
    .introduce_book {
        margin-top: 15px;
        display: block;
    }

    .card_news ul h4 {
        font-size: 1rem;
    }

    .card_news ul:hover h4 {
        font-size: 1.1rem;
    }

    .card_news ul:hover {
    font-size: 0.9rem;
    /*transition: all 1s;*/
}
}

@media all and (min-width: 1024px) {
    .main_banners {
        width: 80%;
    }

    .card_news ul {
        width: 49.7%;
        display: inline-block;
    }
}