@charset "UTF-8";

/*메인 배너*/
.main_banner {
    width: 100%;
    margin-top: 100px;
}

/*버튼*/
.button_all {
    cursor: pointer;
    font-size: 0.9rem;
    color: gray;
    text-decoration: none;
    float: right;
}

/*메인*/
main {
    width: 80%;
    margin: 0 auto;
}

/*메인 타이틀*/
.main_section {
    margin: 30px 0;
}

.main_section_title {
    margin: 15px;
}

.main_section_title h2 a {
    display: block;
    background: ghostwhite;
    opacity: 0.8;
    padding: 10px 0;
    margin-right: 2px;
    font-weight: normal;
    font-size: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_section_title h2 a.on {
    display: block;
    font-weight: bold;
    opacity: 1;
}

/*인터뷰*/
.interview ul {
    width: 100%;
    /*height: 260px;*/
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.interview ul li {
    width: 100%;
    float: left;
    line-height: 2;
}

.interview ul li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interview ul img {
    width: 100%;
}

/*영상 자료*/
.videos ul {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8rem;
    text-align: center;
}

.videos ul li {
    float: left;
    line-height: 2;
}

.videos ul img {
    width: 100%;
}

.videos ol li {
    float: left;
    width: 33.333%;
    text-align: center;
}

.saint {
    display: none;
}

.blanket {
    display: none;
}

.theology {
    /*display: none;*/
}

@media all and (min-width: 768px) {
    .main_section_title h2 a {
        font-size: inherit;
    }

    .introduce_book {
        margin-top: 15px;
        display: block;
    }

    .interview ul h4 {
        font-size: 1rem;
    }

    .interview ul:hover h4 {
        font-size: 1.1rem;
    }

    .videos ul h4 {
        font-size: 1rem;
    }

    .videos ul:hover h4 {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 1024px) {
    .main_banners {
        width: 80%;
    }

    .interview ul {
        width: 49.7%;
        display: inline-block;
        height: 100%;
        /*min-height: 480px;*/
        font-size: 1rem;
    }

    .interview ul:hover {
        font-weight: bold;
        transition: all 1s;
    }

    .main_banners {
        width: 80%;
    }

    .videos ul {
        width: 49.7%;
        display: inline-block;
        height: 100%;
        margin-bottom: 20px;
        /*min-height: 480px;*/
        font-size: 0.9rem;
    }

    .videos ul:hover {
        font-weight: bold;
        transition: all 1s;
    }
}